@using Mobile_ecommerce.Models.ViewModel.Order
@using System.Globalization;
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Admin/Views/Shared/Admin_LayoutPage.cshtml";
    var totalBill = (List<Detail>)ViewBag.TongTien;
    DateTime tmp;
    decimal[] total = new decimal[12];
    foreach (var item in totalBill)
    {
        tmp = DateTime.Parse(item.Ngay, CultureInfo.InvariantCulture);
        int monthIndex = tmp.Month - 1;
        switch (monthIndex)
        {
            case 0:
                total[0] += item.TongTien;
                break;
            case 1:
                total[1] += item.TongTien;
                break;
            case 2:
                total[2] += item.TongTien;
                break;
            case 3:
                total[3] += item.TongTien;
                break;
            case 4:
                total[4] += item.TongTien;
                break;
            case 5:
                total[5] += item.TongTien;
                break;
            case 6:
                total[6] += item.TongTien;
                break;
            case 7:
                total[7] += item.TongTien;
                break;
            case 8:
                total[8] += item.TongTien;
                break;
            case 9:
                total[9] += item.TongTien;
                break;
            case 10:
                total[10] += item.TongTien;
                break;
            case 11:
                total[total.Length - 1] += item.TongTien;
                break;
        }
    }
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

    <script>
        // Pie Chart Example
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Khách hàng", "Nhân viên", "Quản trị viên"],
                datasets: [{
                    data: [@ViewBag.SlKhachHang, @ViewBag.SlNhanVien, @ViewBag.SlTaikhoan],
                    backgroundColor: ['#007bff', '#ffc107', '#dc3545'],
                }],
            },
        });

    </script>

    <script>
        var ctx = document.getElementById("myBarChart");
        var myLineChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
                datasets: [{
                    label: "Sessions",
                    lineTension: 0.3,
                    backgroundColor: "rgba(2,117,216,0.2)",
                    borderColor: "rgba(2,117,216,1)",
                    pointRadius: 5,
                    pointBackgroundColor: "rgba(2,117,216,1)",
                    pointBorderColor: "rgba(255,255,255,0.8)",
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(2,117,216,1)",
                    pointHitRadius: 50,
                    pointBorderWidth: 2,
                    data: [@total[0],@total[1],@total[2],@total[3],@total[4],@total[5],@total[6],@total[7],@total[8],@total[9],@total[10],@total[total.Length - 1]]
                }],
            },
            options: {
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 100000000,
                            maxTicksLimit: 6
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, .125)",
                        }
                    }],
                },
                legend: {
                    display: false
                }
            }
        });

    </script>
}
<div class="row mb-4">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            <a href="/Admin/User/" class="h5 mb-0 font-weight-bold text-gray-800 text-decoration-none">Tài khoản</a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <a href="/Admin/OrderAd/" class="h5 mb-0 font-weight-bold text-gray-800 text-decoration-none">Hóa đơn</a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            <a href="/Admin/Products/" class="h5 mb-0 mr-3 font-weight-bold text-gray-800 text-decoration-none">Sản phẩm</a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            <a href="/Admin/ContactAd/" class="h5 mb-0 font-weight-bold text-gray-800 text-decoration-none">Phản hồi</a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Doanh thu theo từng tháng
            </div>
            <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-pie me-1"></i>
                Thống kê số lượng người dùng
            </div>
            <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
        </div>
    </div>
</div>