.pagination-container .pagination {
    display: flex;
    justify-content: center;
    margin-top:10px;
    align-items: center;
    list-style: none;
    border-radius: 0.35rem;
}

.pagination li a {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    margin-left: -1px;
    line-height: 1.25;
    color: #4e73df;
    background-color: #fff;
    border: 1px solid #dddfeb;
}
.page--title {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}
.pagination li a:hover {
    z-index: 2;
    color: #224abe;
    text-decoration: none;
    background-color: rgba(179, 179, 179,0.8);
    border-color: #dddfeb;
}
.card:hover {
    transform: scaleY(1.05);
    transition: all 0.3s ease-out;
}
